*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

header{
  display:flex;
  justify-content:space-around;
}

header img{
  width:100px;
  height: 100px;
}

header span{
  align-items: center;
  align-self: center;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
}

#InputOutroDocumento{
  margin-left: 10px;
}

#outros{
  margin-left: 1rem;
}

/* .range-input input::-webkit-slider-thumb:hover {
  background:#4471ef;
}
.range-input .ChangeValeuSlider {
  color:#4471ef;
  text-align:center;
  font-weight:600;
  line-height:40px;
  height:40px;
  overflow:hidden;
  margin-left:10px;
}
.range-input .value div {
  transition:all 300ms ease-in-out;
}

.ContainerInputsTeste{
  display: flex;
} */

#InputDateNasc{
  width: 200px;
}

#ContainerDivs-DateNasc-Age-Gender{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

#Gender{
  width: 600px;
}

#DivAge{
  width: 200px;
}